
//COLORS
$clr-black: #262628;
$clr-orange: #e89015;
$clr-orange2: #e8b315;

//Font-family
$ff: 'Source Sans Pro','sans-serif';

//Font-weight:
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

//prueba map
$COLORS: (
    "black": #262628,
    "orange": #e89015,
    "orange-2": #e8b315
);